* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #0f172a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e5e7eb;
}


.result-card {
    background-color: #020617;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 30px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    margin: 80px;
    padding: 20px;
    overflow: hidden;
}

.result-card h2 {
    color: #38bdf8;
    margin-bottom: 50px;
    margin: 30px;
}

.result-box {
    background-color: #020617;
    border: 1px solid #1e293b;
    padding: 35px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 65px;
    word-wrap: break-word;
}

.status {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}

.success {
    color: #22c55e;
}

.info {
    color: #facc15;
}

.btn {
    text-decoration: none;
    background-color: #2563eb;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
}

.btn:hover {
    background-color: #1d4ed8;
}

.back {
    position: fixed;
    bottom: 250px;
    right: 100px;
}
