* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #3a1c71, #5f2c82, #c33764);
    background-size: cover;
    display: flex;
    align-items: center;    
    justify-content: center; 
    padding: 0;
}


.main-heading {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: rgb(4, 5, 4);
    text-align: center;
}

.convert-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0.6;
    height: 40%;
    padding: 20px;
    font-size: 10px;
    border-radius: 50px;
    width: 50%;
}


.convert-container h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    font-weight: bold;
}

.form-group input {
    width: 60%;
    height: 30px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    border-radius: 50px; 
    border: 1px solid #ccc;
}


.submit-btn {
    width: 50%;        
    margin-top: -80px; 
    margin-left: 200px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3; 
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}