<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpperCase Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <h1 class="main-heading">WELCOME TO THE APPLICATION</h1>

   <div class="convert-container">

        <form action="/uppercase">
            <h3>TEXTBOX</h3>
            <div class="form-group">
                <label for="user_name">User Name: </label>
                <input type="text" pattern="[A-Za-z]+" name="user_name" placeholder="john"><br>
            </div> 
   
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>  
</body>
</html>