<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">

</head>
<body>
    <div class="result-card">
        <h2> RESULT</h2>

        <div class="result-box">
            {{ result }}  
        </div>

        {% if status == "converted" %}
            <p class="status success">
                ✅ Converted to Uppercase
            </p>
        {% else %}
            <p class="status info">
                ℹ️ Already in Uppercase
            </p>    
        {% endif %}

        <div class="back">
            <a href="/">Go Back</a>
        </div>
    </div>   
</body>
</html>                  